@charset "UTF-8";
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
   /*Hace que todos hereden esta propiedad del padre, así que todos heredan de body*/ }

html {
   font-size: 62.5%;
   /*Esto para hacer que el font-size sea de 10px,
                    pues toma en cuenta los 16px del navegador. Esto es un ram*/ }

.mya .mya:visited .mya:hover .mya:active {
   text-decoration: none;
   color: black !important;
}

body {
   box-sizing: border-box; }

.center-content {
   text-align: center; }

.capitalize {
   text-transform: capitalize; }

.uppercase {
   text-transform: uppercase; }

.fire {
   background-color: red; }

.grass {
   background-color: green; }

.normal {
   background-color: #775221; }

.fighting {
   background-color: #da5a11; }

.flying {
   background-color: #5b5bf3; }

.poison {
   background-color: #680268; }

.ground {
   background-color: #e6bb6b; }

.rock {
   background-color: #968b78; }

.bug {
   background-color: #84b458; }

.ghost {
   background-color: #5210bd; }

.steel {
   background-color: #bdbdbd; }

.water {
   background-color: #0059ff; }

.electric {
   background-color: yellow;
   color: gray !important; }

.psychic {
   background-color: palevioletred; }

.fairy {
   background-color: pink; }

.ice {
   background-color: #67c2ff; }

.dragon {
   background-color: #5031be; }

.dark {
   background-color: #1a0606; }

.control-form {
   display: block;
   width: 100%;
   height: calc(2.25rem + 2px);
   padding: 1.5rem;
   font-size: 1.6rem;
   line-height: 1.5;
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   border-radius: .4rem; }

.botton {
   width: 100%;
   font-size: 1.6rem;
   background-color: red;
   color: white;
   padding: 1rem 2rem;
   border: none;
   border-radius: 5px;
   cursor: pointer; }
.botton:hover {
   background-color: #c00303; }
.botton:focus {
   outline: none; }

.pokimage {
   margin-top: -5px;
   padding: 0;
   max-height: 100px;
   display: block;
   position: absolute;
   right: 10px; }
.pokimage:hover {
   cursor: pointer; }

@media only screen and (max-width: 600px) {
   .pokimage {
      max-height: 60px;
      right: -2px;
      margin-top: 10px; }
   .container-no-bts {
      padding: 5px; } }

.cards {
   perspective: 150rem;
   -moz-perspective: 150rem;
   position: relative;
   height: 23rem;
   width: 18rem;
   transition: all .2s ease;
   border-radius: .3rem;
   box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
   overflow: hidden;
   margin: 1rem; }
.cards:hover {
   transform: scale(1.1);
   cursor: pointer; }
.cards__picture {
   text-align: center;
   height: 13rem; }
.cards__picture img {
   object-fit: cover;
   transform: scale(1.2) translateY(1rem); }
.cards__details ul {
   list-style: none;
   width: 80%;
   margin: 0 auto; }
.cards__details ul li {
   text-align: center;
   font-size: 1.4rem;
   padding: .1rem;
   text-transform: capitalize; }
.cards__details ul li:not(:last-child) {
   border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
.cards__details--type-pokemon {
   padding-top: .5rem;
   text-align: center;
   position: relative;
   height: 2rem; }
.cards__details--type-pokemon p {
   color: antiquewhite;
   border: 1px solid antiquewhite;
   text-transform: uppercase;
   border-radius: 4px;
   padding: 0 4px;
   position: absolute;
   left: 50%;
   transform: translateX(-50%); }

.container-flex {
   display: flex;
   justify-content: center;
   flex-wrap: wrap; }

.images {
   text-align: center; }
.images__pokemon {
   display: inline-block;
   border-radius: .5rem;
   margin: 1rem; }
.images__default {
   background-color: rgba(128, 128, 128, 0.5); }
.images__shiny {
   background-color: rgba(128, 0, 128, 0.5); }
.images__type {
   width: 100%;
   font-size: 1.3rem;
   color: white;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px; }
.images__img {
   transform: scale(1.1); }

.shiny {
   background-color: purple; }

.normal-pok {
   background-color: gray; }

.form-infos {
   font-size: 2rem;
   margin-top: 2rem; }
.form-infos__input {
   font-size: 1.6rem;
   border-radius: 3px;
   padding: .4rem 1rem;
   background-color: rgba(128, 128, 128, 0.2);
   margin-bottom: 1rem; }

.types {
   margin-top: 2rem;
   font-size: 2rem; }
.types__list-types {
   list-style: none;
   text-align: center; }
.types__list-types li {
   border-radius: 7px;
   border: 1px solid wheat;
   color: wheat;
   margin-bottom: 1rem;
   text-transform: uppercase;
   display: block;
   max-width: 12rem;
   padding: .2rem 1rem; }

.types-damage {
   margin-top: 2rem;
   font-size: 2rem;
   text-transform: capitalize; }
.types-damage__list-types {
   list-style: none;
   text-align: center;
   display: flex;
   flex-wrap: wrap; }
.types-damage__list-types li {
   font-size: 1rem;
   border-radius: 5px;
   border: 1px solid wheat;
   color: wheat;
   margin: .2rem;
   text-transform: uppercase;
   display: block;
   max-width: 6rem;
   padding: .2rem .5rem; }

.abilities {
   margin-top: 2rem;
   font-size: 2rem; }
.abilities__list-abilities li {
   padding: 0 3rem;
   list-style: none;
   background-image: url("/Pokeball.png");
   background-repeat: no-repeat;
   background-position: left center;
   background-size: 1.8rem;
   text-transform: capitalize; }

.videogames {
   margin-top: 1rem;
   font-size: 2rem;
   text-transform: capitalize; }
.videogames__list {
   display: flex;
   flex-wrap: wrap;
   padding-top: 1rem;
   font-size: 1.5rem; }
.videogames__list li {
   padding: 0 3rem;
   list-style: none;
   background-image: url("/control.svg");
   background-repeat: no-repeat;
   background-position: left center;
   background-size: 1.5rem;
   text-transform: capitalize;
   flex: 0 0 50%; }

.moves {
   margin-top: 1rem;
   font-size: 2rem;
   text-transform: capitalize; }
.moves__list {
   display: flex;
   flex-wrap: wrap;
   font-size: 1.2rem; }
.moves__list li {
   margin: .6rem;
   list-style: none;
   text-transform: capitalize;
   background-color: rgba(128, 128, 128, 0.2);
   padding: .5rem 1rem;
   border-radius: 5px;
   flex-grow: 1; }

.show-all {
   padding-top: 2rem;
   position: relative; }
.show-all__btn {
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   margin-bottom: 2rem; }

